@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 20 14.3% 4.1%; /* Almost Black */
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 217.2 91.2% 59.8%; /* Blue */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 60 4.8% 95.9%; /* Light Gray */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%; /* Muted Gray */
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 5.9% 90%; /* Light border */
    --input: 20 5.9% 90%;
    --ring: 217.2 91.2% 59.8%; /* Blue for focus rings */
    --radius: 0.75rem;
  }
  .dark {
    --background: 20 14.3% 4.1%; /* Almost Black */
    --foreground: 0 0% 98%; /* Almost White */
    --card: 24 9.8% 10%; /* Dark Gray */
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%; /* Blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 12 6.5% 15.1%; /* Dark border */
    --input: 12 6.5% 15.1%;
    --ring: 217.2 91.2% 59.8%; /* Blue for focus rings */
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
  }
}